$black: #000;
$white: #fff;
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity ($opacity: 0.5) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity;
}

@mixin transition($prop: all, $time: 0.3s, $ease: linear) {
	-webkit-transition: $prop $time $ease;
	-moz-transition: $prop $time $ease;
	-o-transition: $prop $time $ease;
	-ms-transition: $prop $time $ease;
	transition: $prop $time $ease;
}

@mixin animation($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation: $name $duration $delay $ease;
	-ms-animation: $name $duration $delay $ease;
  animation: $name $duration $delay $ease;
}


@mixin transform($string){
	-webkit-transform: $string;
	-moz-transform: $string;
	-ms-transform: $string;
	-o-transform: $string;
  transform: $string;
}

@mixin scale($percent) {
  transform: scale($percent);
  -webkit-transform: scale($percent);
  -moz-transform: scale($percent);
}
